.containerButtons {
  display: flex;
}

/* From Uiverse.io by guilhermeyohan */
.completeButton:hover .check {
  stroke-dashoffset: 0;
}

.completeButton {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.completeButton .completeButtonBackground {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.completeButton .completeButtonStroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.completeButton .completeButtonCheck {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.completeButton input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-apearance: none;
}

.completeButton input[type="checkbox"]:hover {
  cursor: pointer;
}

.completeButton input[type="checkbox"]:checked + svg .completeButtonBackground {
  fill: #6cbe45;
}

.completeButton input[type="checkbox"]:checked + svg .completeButtonStroke {
  stroke-dashoffset: 0;
}

.completeButton input[type="checkbox"]:checked + svg .completeButtonCheck {
  stroke-dashoffset: 0;
}

/* From Uiverse.io by vinodjangid07 */
.buttonDelete {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIconDelete {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIconDelete path {
  fill: white;
}

.buttonDelete:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.bin-topDelete {
  transform-origin: bottom right;
}
.buttonDelete:hover .bin-topDelete {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}
